<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		
		<meta name="description" content="Myles Braithwaite Loves Coffee">
		
		<title>Myles.Coffee</title>
		
		<link rel="canonical" href="http://myles.coffee/">
		
		<link rel="onion" href="http://jx5z7chkv7wuvobn.onion/">
		
		<%= stylesheet_link_tag "application" %>
		
		<%= favicon_tag 'favicon.png', type: 'image/png' %>
		<%= favicon_tag 'favicon.png', type: 'image/png', rel: 'apple-touch-icon' %>
		
		<script type="application/ld+json">{ "@context": "http://schema.org", "@type": "WebSite", "url": "http://myles.coffee/", "sameAs": [ "http://jx5z7chkv7wuvobn.onion/" ] }</script>
		<script type="application/ld+json">{ "@context": "http://schema.org", "@type": "Person", "name": "Myles Braithwaite", "url": "http://myles.coffee/", "email": "me@myles.coffee", "birthDate": "1986-09-19", "birthPlace": { "@type": "Place", "address": { "@type": "PostalAddress", "addressLocality": "Richmond Hill", "addressRegion": "Ontario", "addressCountry": "Canada" } }, "homeLocation": { "@type": "Place", "address": { "@type": "PostalAddress", "addressLocality": "Toronto", "addressRegion": "Ontario", "addressCountry": "Canada" } }, "sameAs": [ "https://youaretheworst.today/", "http://mylesbraithwaite.org/", "http://mylesbraithwaite.com/", "http://mylesb.ca/", "http://myles.red/", "https://github.com/myles", "https://twitter.com/mylesb", "https://instagram.com/myles", "https://plus.google.com/+MylesBraithwaite", "https://www.facebook.com/mylesbraithwaite" ], "worksFor": { "@type": "Organization", "name": "Monkey in your Soul", "url": "http://monkeyinyoursoul.com", "email": "myles@monkeyinyoursoul.com" } }</script>
	</head>
	<body class="<%= page_classes %>">
		<div class="main">
			<div class="container">
				<div class="logo">
					<img class="iconic" data-src="<%= image_path "logo.svg" %>">
				</div>

				<header>
					<h1>Myles Braithwaite</h1>
					<h2>I Love Coffee</h2>
				</header>
				
				<%= yield %>
			</div>
		</div>
		
		<%= javascript_include_tag "application" %>
	</body>
</html>
