---
links:
  - slug: email
    title: Email
    description: "Email me at 'me@myles.coffee'."
    url: mailto:me@myles.coffee?subject=Hi%21
  - slug: twitter
    title: Twitter
    description: "Follow me on Twitter at '@MylesB'."
    url: https://www.twitter.com/mylesb/
  - slug: github
    title: GitHub
    description: "Follow me on GitHub at 'Myles'."
    url: https://www.github.com/myles
  - slug: instagram
    title: Instagram
    description: "Follow me on Instagram at 'Myles'."
    url: https://instagram.com/myles
  - slug: tumblr
    title: Tumblr
    description: "Follow me on Tumblr at 'MylesB'."
    url: http://mylesb.tumblr.com/
  - slug: google-plus
    title: Google+
    description: "Follow me on Google+ at '+MylesBraithwaite'."
    url: https://plus.google.com/+MylesBraithwaite
  - slug: facebook
    title: Facebook
    description: "Follow me on Facebook."
    url: https://facebook.com/mylesbraithwaite
title: Myles.Coffee
---

<div class="logo">
	<img class="iconic" data-src="<%= image_path "logo.svg" %>">
</div>

<header>
	<h1>Myles Braithwaite</h1>
	<h2>I Love Coffee</h2>
</header>

<nav>
	<ul>
		<% current_page.data.links.each do |l| %>
		<li>
			<a href="<%= l.url %>" title="<%= l.title %>">
				<img class="iconic <%= l.slug %>" data-src="<%= image_path "#{l.slug}.svg" %>" alt="<%= l.description %>">
			</a>
		</li>
		<% end %>
	</ul>
</nav>