---
links:
  - slug: email
    title: Email
    description: "Email me at 'me@myles.coffee'."
    url: mailto:me@myles.coffee?subject=Hi%21
  - slug: twitter
    title: Twitter
    description: "Follow me on Twitter at '@MylesB'."
    url: https://www.twitter.com/mylesb/
  - slug: github
    title: GitHub
    description: "Follow me on GitHub at 'Myles'."
    url: https://www.github.com/myles
  - slug: instagram
    title: Instagram
    description: "Follow me on Instagram at 'Myles'."
    url: https://instagram.com/myles
  - slug: tumblr
    title: Tumblr
    description: "Follow me on Tumblr at 'MylesB'."
    url: http://mylesb.tumblr.com/
  - slug: google-plus
    title: Google+
    description: "Follow me on Google+ at '+MylesBraithwaite'."
    url: https://plus.google.com/+MylesBraithwaite
  - slug: facebook
    title: Facebook
    description: "Follow me on Facebook."
    url: https://facebook.com/mylesbraithwaite
title: Myles.Coffee
---

<nav>
	<ul>
		<% current_page.data.links.each do |l| %>
		<li>
			<a href="<%= l.url %>" title="<%= l.title %>" id="<%= l.slug %>">
				<img class="iconic <%= l.slug %>" data-src="<%= image_path "#{l.slug}.svg" %>" alt="<%= l.description %>">
			</a>
		</li>
		<% end %>
	</ul>
</nav>

<div class="modal">
	<input class="modal-state" id="modal" type="checkbox">
	<div class="modal-fade-screen">
		<div class="modal-inner">
			<div class="modal-close" for="modal"></div>
			<div class="modal-content">
				<form action="http://damp-stream-3548.herokuapp.com/zqxaogap" method="POST">
					<p>
						<label for="id_email">Email</label>
						<input type="email" name="email" placeholder="user@example.com" id="id_email">
					</p>
					<p>
						<label for="id_message">Message</label>
						<textarea name="message" placeholder="I love coffee too." id="id_message"></textarea>
					</p>
					<input type="text" name="_gotcha" style="display:none">
					<input type="hidden" name="_next" value="//myles.coffee/thanks">
					<input type="hidden" name="_subject" value="Contact form on Myles.Coffee">
					<input type="submit" value="Send">
				</form>
			</div>
		</div>
	</div>
</div>