---
title: Myles.Coffee
---

<h1>Myles Braithwaite</h1>

<h2>I Love Coffee</h2>

<nav>
	<ul>
		<li><a href="mailto:me@myles.coffee" title="Email"><img class="iconic email" data-src="<%= image_path "email.svg" %>"></a></li>
		<li><a href="https://twitter.com/mylesb" title="Twitter"><img class="iconic twitter" data-src="<%= image_path "twitter.svg" %>"></a></li>
		<li><a href="https://github.com/myles" title="GitHub"><img class="iconic github" data-src="<%= image_path "github.svg" %>"></a></li>
		<li><a href="https://instagram.com/myles/" title="Instagram"><img class="iconic instagram" data-src="<%= image_path "instagram.svg" %>"></a></li>
		<li><a href="http://tumblr.mylesbraithwaite.com/" title="Tumblr"><img class="iconic tumblr" data-src="<%= image_path "tumblr.svg" %>"></a></li>
		<li><a href="https://plus.google.com/+MylesBraithwaite" title="Google+"><img class="iconic google-plus" data-src="<%= image_path "google-plus.svg" %>"></a></li>
		<li><a href="https://facebook.com/mylesbraithwaite/" title="Facebook"><img class="iconic facebook" data-src="<%= image_path "facebook.svg" %>"></a></li>
	</ul>
</nav>